.page {
	--gray-alpha-200: rgba(0, 0, 0, 0.08);
	--gray-alpha-100: rgba(0, 0, 0, 0.05);
	--button-secondary-hover: #f2f2f2;

	display: grid;
	grid-template-rows: 20px 1fr 20px;
	align-items: center;
	justify-items: center;
	min-height: 100svh;
	padding: 80px;
	gap: 64px;
	font-synthesis: none;
}

@media (prefers-color-scheme: dark) {
	.page {
		--gray-alpha-200: rgba(255, 255, 255, 0.145);
		--gray-alpha-100: rgba(255, 255, 255, 0.06);
		--button-secondary-hover: #1a1a1a;
	}
}

.main {
	display: flex;
	flex-direction: column;
	gap: 32px;
	grid-row-start: 2;
}

.logo {
	display: block;
}

.main ol {
	font-family: var(--font-geist-mono);
	padding-left: 0;
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.01em;
	list-style-position: inside;
}

.main li:not(:last-of-type) {
	margin-bottom: 8px;
}

.main code {
	font-family: inherit;
	background: var(--gray-alpha-100);
	padding: 2px 4px;
	border-radius: 4px;
	font-weight: 600;
}

button.secondary {
	appearance: none;
	border-radius: 128px;
	height: 48px;
	padding: 0 20px;
	font-family: var(--font-geist-sans);
	border: 1px solid var(--gray-alpha-200);
	transition: background 0.2s, border-color 0.2s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	background: transparent;
	min-width: 180px;
}

.footer {
	font-family: var(--font-geist-sans);
	grid-row-start: 3;
}

@media (hover: hover) and (pointer: fine) {
	button.secondary:hover {
		background: var(--button-secondary-hover);
		border-color: transparent;
	}

	.footer a:hover {
		text-decoration: underline;
		text-underline-offset: 4px;
	}
}

@media (max-width: 600px) {
	.page {
		padding: 32px;
		padding-bottom: 80px;
	}

	.main {
		align-items: center;
	}

	.main ol {
		text-align: center;
	}

	button.secondary {
		min-width: auto;
	}

	.footer {
		text-align: center;
	}
}
